flask==2.3.3
fastapi==0.103.1
uvicorn==0.23.2
python-multipart==0.0.6
joblib==1.3.2
numpy>=1.26.2
scikit-learn==1.3.2
pyyaml==6.0.1

pandas==2.2.3
python-dotenv==1.0.0
google-generativeai
schedule==1.2.2
groq>=0.0.3
aiohttp==3.11.18

langchain>=0.3.26
langgraph>=0.5.3
langchain_community>=0.3.27
langchain-google-genai
ipython>=9.4.0
langchain-groq>=0.3.6
graphviz